html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	border: 1px solid white !important;
}

/* HEADER */
header {
	background: #505050;
	min-height: 6.5em;
	height: 180px;
	display: grid;
	grid-template-columns: 200px 1fr 200px;
}

nav.header-links {
	background-color: #303030;
	display: grid;
	height: 100%;
	grid-template-columns: repeat(6, 1fr);
}

/*
	=================
	MAIN SECTION
	=================
*/
main {
	display: flex;
	flex-direction: column;
}

/* FEATURED ARTICLES SECTION */
.featured-articles {
	background: #808080;
	height: 900px;
	display: flex;
}

.do-not-miss {
	height: 100px;
	width: 300px;
	background-color: #B0B0B0;
	position: absolute;
	top: 220px;
	left: 50%;
	margin-left: -150px;
}

.seriously-red {
	height: 100px;
	width: 250px;
	background-color: #b0b0b0;
	position: absolute;
	top: 220px;
	right: 40px;
}

.article {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.article p {
	background-color: #404040;
	height: 60%;
	width: 70%;
}

.article2 p {
	background-color: #505050;
}
/* COVER SECTION */
.cover {
	background: #d0d0d0;
}

/* LATEST ARTICLES SECTION */
.latest-articles {
	display: grid;
	gap: 20px;
	padding: 0 20px;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 800px) 200px;
}

.latest-row {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, 1fr);
}

.latest-article {
	background: #a0a0a0;
	grid-column: span 1;
}

.latest-promo {
	background: #404040;
	grid-column: span 2;
}

.latest-more {
	background: #d0d0d0;
	grid-column: 1 / -1;
	display: grid;
	justify-content: center;
	align-items: center;

}

.latest-more p {
	height: 80px;
	width: 300px;
	background-color: #909090;
}

/* UP NEXT SECTION */
.up-next {
	background: #707070;
	height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.up-next-text {
	background-color: #606060;
	width: 500px;
	height: 50%;
}

.up-next-img {
	background-color:#404040;
	width: 600px;
	height: 50%;
}

/* COMMUNITY LINKS SECTION */
.community-links {
	display: grid;
	height: 2000px;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, 1fr) 200px;
}

.person-highlight {
	background-color: #c0c0c0;
	grid-column: span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.person-highlight > * {
	margin: 0 20px;
}
.person-highlight img {
	background-color: #404040;
	height: 400px;
	width: 400px;
}

.highlight-text {
	background-color: #909090;
	height: 80%;
	width: 60%;
}
.person {
	background-color: #909090;
	display: flex;
	justify-content: start;
	align-items: start;
	padding: 50px 100px;
}

.person p {
	width: 50%;
	height: 80px;
	background-color: #505050;
}


.community-more {
	background-color: #b0b0b0;
	grid-column: span 2;
	display: grid;
	justify-content: center;
	align-items: center;
}

.community-more p {
	height: 80px;
	width: 300px;
	background-color: #505050;
}

/* FEATURED BOOK */
.featured-book {
	background-color: #707070;
	height: 400px;
	display: flex;
	align-items: center;
	padding: 0 30px;
}

.book-text {
	background-color: #404040;
	height: 80%;
	flex: 2;
}

.book-img {
	background-color: #606060;
	height: 80%;
	flex: 1;
}

/* CURATED POSTS SECTION */
.curated-posts {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 850px 1200px 200px;
}

.guides {
	background-color: #b0b0b0;
	grid-row: 1 / span 1;
	display: flex;
}

.guide {
	flex: 1;
	display: flex;
	justify-content: center;
	padding: 40px 60px;
}

.guide p {
	height: 50px;
	width: 60%;
	background-color: #909090;
}

.newsletter {
	background-color: #707070;
	grid-row: 2 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsletter-content {
	background-color: #303030;
	width: 60%;
	height: 70%;

}

.see-all {
	background-color: #b0b0b0;
	grid-row: 3 / span 1;
	display: grid;
	justify-content: center;
	align-items: center;
}

.see-all p {
	height: 80px;
	width: 300px;
	background-color: #505050;
}
footer {
	background: #606060;
	height: 700px;
}